/**  
 * Código para ser copiado para os arquivos das rotas e dos includes no servidor PHP
 */

/**  
 * includesController
 */
{{#includesController}}
{{{.}}}
{{/includesController}}

/**  
 * includesModel
 */
{{#includesModel}}
{{{.}}}
{{/includesModel}}

/**  
 * includesService
 */
{{#includesService}}
{{{.}}}
{{/includesService}}

/**  
 * rotas
 */
{{#rotas}}
{{{.}}}
{{/rotas}}
