/**  
 * Código para ser copiado para a classe database do Moor e para a exportação das classes de tabelas
 */

/**  
 * tabelasDatabase
 */
{{#tabelasDatabase}}
{{{.}}}
{{/tabelasDatabase}}

/**  
 * daosDatabase
 */
{{#daosDatabase}}
{{{.}}}
{{/daosDatabase}}

/**  
 * exportTable
 */
{{#exportTable}}
{{{.}}}
{{/exportTable}}
