<?xml version="1.0" encoding="utf-8"?>
<hibernate-mapping assembly="T2TiERPFenix" namespace="T2TiERPFenix.Models" default-lazy="false" xmlns="urn:nhibernate-mapping-2.2">
  <class name="{{class}}" table="{{table}}" >
    <id name="Id" column="ID">
      <generator class="identity" />
    </id>

	{{#atribut}}
	{{{.}}}
	{{/atribut}}

	{{#atributObj}}
	{{{.}}}
	{{/atributObj}}

	{{#atributList}}
	{{{.}}}
	{{/atributList}}
	    
  </class>
</hibernate-mapping>