/**  
 * Código para ser copiado para os arquivos de exportação do Flutter
 */

/**  
 * ViewModel
 */
{{#exportViewModel}}
{{{.}}}
{{/exportViewModel}}

/**  
 * Model
 */
{{#exportModel}}
{{{.}}}
{{/exportModel}}

/**  
 * Service
 */
{{#exportService}}
{{{.}}}
{{/exportService}}

/**  
 * Page
 */
{{#exportPage}}
{{{.}}}
{{/exportPage}}

/**  
 * Providers para main.dart
 */
				{{#providers}}
				{{{.}}}
				{{/providers}}

/**  
 * Locators
 */
	{{#locators}}
	{{{.}}}
	{{/locators}}


/**  
 * rotas
 */
			{{#rotas}}
			{{{.}}}
			{{/rotas}}
